# Server configuration
PORT=5000

# Database connection details
# Replace <USERNAME>, <PASSWORD>, <CLUSTER_URL>, and <DB_NAME> with your own values
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_URL>/<DB_NAME>?retryWrites=true&w=majority
DB_NAME=Pincode
COLLECTION_NAME=Pincode