PORT=5000
NODE_ENV=development

# Database connection details
# Replace <USERNAME>, <PASSWORD>, <CLUSTER_URL>, and <DB_NAME> with your own values
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_URL>/<DB_NAME>?retryWrites=true&w=majority
DB_NAME=Pincode
COLLECTION_NAME=Pincode

# Deployment configuration
FRONTEND_URL=http://localhost:5173